<!-- Section de contact -->
<section class="contact" id="contact">
    <h2 class="heading">Contactez-<span>moi</span><span class="animate scroll" style="--i:1;"></span></h2>

    <form action="#">
        <div class="input-box">
            <div class="input-field">
                <input type="text" placeholder="Nom Complet" id="fullName" required>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input type="email" placeholder="Adresse Email" id="email" required>
                <span class="focus"></span>
            </div>

            <span class="animate scroll" style="--i:3;"></span>
        </div>

        <div class="input-box">
            <div class="input-field">
                <input type="tel" placeholder="Numéro de Téléphone" id="tel"  required>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Sujet du Message" id="subject" required>
                <span class="focus"></span>
            </div>

            <span class="animate scroll" style="--i:5;"></span>
        </div>

        <div class="textarea-field">
            <textarea name="" id="" cols="30" rows="10" placeholder="Votre Message" id="message" required></textarea>
            <span class="focus"></span>

            <span class="animate scroll" style="--i:7;"></span>
        </div>

        <div class="btn-box btns">
            <button type="submit" class="btn">Envoyer</button>

            <span class="animate scroll" style="--i:9;"></span>
        </div>
    </form>
</section>
