.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-column .skills-box {
    position: relative;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 78%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 67%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 45%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 84%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 79%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 63%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 35%;
}
